[submodule "dictionaries/WordleDictionary"]
	path = core/dictionaries/WordleDictionary
	url = https://github.com/AllValley/WordleDictionary
[submodule "dictionaries/Wordlist"]
	path = core/dictionaries/Wordlist
	url = https://github.com/jeremy-rifkin/Wordlist.git
[submodule "dictionaries/english-words"]
	path = core/dictionaries/english-words
	url = https://github.com/dwyl/english-words.git
[submodule "core/dictionaries/dictionary"]
	path = core/dictionaries/dictionary
	url = https://github.com/dolph/dictionary
