.keyboard {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    flex-direction: row;
  }
}

.button-spacer {
  flex: 0.5;
}

.button {
  margin: 2px;
  background-color: lightgrey;
  border-radius: 4px;
  box-sizing: border-box;
  height: 3em;
  min-height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    filter: brightness(0.85);
  }

  &__letter {
    flex: 1;
  }

  &__control {
    flex: 1.5;
  }

  &--correct {
    background-color: lightgreen;
  }

  &--misplaced {
    background-color: yellow;
  }

  &--missing {
    background-color: darkgray;
  }
}

.label {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
}
