.wordle {
  grid-area: wordle;

  display:flex;
  flex-direction: column;
  justify-content:center;

  &__board {
    padding: 10%;
  }

  &__keyboard {
    padding: 10px;
  }

  &__wrapper {
    // set up element to cover whole screen
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;

    // set up grid
    display: grid;
  
    @media (min-aspect-ratio: 1 / 2) {
      grid-template-columns: auto 50vh auto;
      grid-template-rows: auto;
      grid-template-areas: ". wordle .";
    }
    
    @media (max-aspect-ratio: 1 / 2) {
      grid-template-columns: auto;
      grid-template-rows: auto 200vw auto;
      grid-template-areas:
        "."
        "wordle"
        ".";
    }
  }
}
